# Python Strings

A string is a sequence of characters. Python treats anything inside quotes as a string. This includes letters, numbers, and symbols.

In [2]:
s = "GfG"

print(s[1]) # access 2nd char
s1 = s + s[0] # update
print(s1) # print

f
GfGG

# create string

In [2]:
s1 = 'GfG'
s2 = "GfG"
print(s1)
print(s2)

GfG
GfG

# Multi-line Strings


If we need a string to span multiple lines then we can use triple quotes (”’ or “””).

In [4]:
s = """I am Learning
Python String """
print(s)

s = '''I'm a 
good man'''
print(s)

I am Learning
Python String
I'm a
good man

# Assign String to a Variable

In [5]:
a = "Hello"
print(a)

Hello

# Strings are Arrays

In [4]:
a = "Hello World!"
print(a[3])

l

######

# Looping Through a String

In [6]:
# x="banana"
for x in "banana":
    print(x)

b
a
n
a
n
a

# String Length

In [8]:
a = "Hello, World!"
print(len(a))

13

# Check String

In [11]:
txt = "The best things in life are free!"
print("mount" in txt)

False

In [17]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [18]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

# Python - Slicing Strings

return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.
Strings are indexed starting from 0 and -1 from end

In [15]:
b = "Hello, World!"
print(b[2:5])

llo

In [20]:
s = "Everest"

# Accesses first character: 
print(s[0])  

# Accesses 5th character: 
print(s[4])

E
e

# Slice From the Start

In [17]:
b = "Hello, World!"
print(b[:5])

Hello

In [18]:
b = "Hello, World!"
print(b[2:])

llo, World!

# Access string with Negative Indexing

In [20]:
s = "Everest"

# Accesses last character: 
print(s[-1])  

# Accesses 5th character from end: 
print(s[-5])

t
e

# String Slicing


Slicing is a way to extract portion of a string by specifying the start and end indexes. The syntax for slicing is string[start:end], where start starting index and end is stopping index (excluded).

In [21]:
# s = "GeeksforGeeks"

# Retrieves characters from index 1 to 3: 
print(s[1:4])  

# Retrieves characters from beginning to index 2:
print(s[:3])   

# Retrieves characters from index 3 to the end:
print(s[3:])   
a="mount"
# Reverse a string
print(a[::-1])

ver
Eve
rest
tnuom

# Deleting a String


In Python, it is not possible to delete individual characters from a string since strings are immutable. However, we can delete an entire string variable using the del keyword.

In [25]:
s = "GfG"

# Deletes entire string
del s

# Updating a String

 To update a part of a string we need to create a new string since strings are immutable.

In [27]:
s = "hello geeks"

# Updating by creating a new string
s1 = "H" + s[1:]

# replacnig "geeks" with "GeeksforGeeks"
s2 = s.replace("geeks", "mount")
print(s1)
print(s2)

Hello geeks
hello mount

# Python - Modify Strings

# Upper Case

In [28]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [29]:
# Lower Case
a = "Hello, World!"
print(a.lower())

hello, world!

# Remove Whitespace

In [30]:
#The strip() method removes any whitespace from the beginning or the end:
a = " Hello,World! "
print(a.strip()) # returns "Hello, World!"

Hello,World!

# Replace String

In [35]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

# Split String

In [36]:

#The split() method returns a list where the text between the specified separator becomes the list items.

In [31]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

# String Concatenation

In [38]:

#To concatenate, or combine, two strings you can use the + operator.

In [39]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [36]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [38]:
s = "Hello "
print(s * 3)

Hello Hello Hello

Python provides a variety of string methods for manipulating and working with strings. Some of the most common string methods include:


upper(): Converts all characters in a string to uppercase.
lower(): Converts all characters in a string to lowercase.
find(substring): Returns the lowest index in the string where the substring is found.
strip(): Removes any leading and trailing characters (space is the default).
replace(old, new): Replaces occurrences of a substring within the string.
split(delimiter): Splits the string at the specified delimiter and returns a list of substrings.
join(iterable): Concatenates elements of an iterable with a specified separator.
startswith(prefix): Checks if the string starts with the specified prefix.
endswith(suffix): Checks if the string ends with the specified suffix.

# Formatting Strings


Python provides several ways to include variables inside strings.

Using f-strings

In [39]:
name = "Alice"
age = 22
print(f"Name: {name}, Age: {age}")

Name: Alice, Age: 22

# Using format()

In [43]:
s = "My name is {} and I am {} years old. my hobby is {}.".format("Alice", 22,"football")
print(s)

My name is Alice and I am 22 years old. my hobby is football.

# 3. Using the join() method:

In [53]:

my_list = ["Hello", "world!"]
string = " ".join(my_list)  # Joins the list elements with a space separator
print("Joins the list elements with a space separator")
print(string)

Joins the list elements with a space separator
Hello world!

# Python Collections (Arrays)

In [ ]:

There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [ ]:
# a=["a","b","a]
# a={a,b,c}

# List


Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:
list is a built-in dynamic sized array (automatically grows and shrinks)

In [46]:
mylist = ["apple", "banana", "cherry"]
# print(mylist)

['apple', 'banana', 'cherry']

In [47]:
mylist

['apple', 'banana', 'cherry']

In [56]:
a = [10, 20, 15]

print(a[0]) # access first item
a.append(11) # add item
a.remove(20) # remove item

print(a)

10
[10, 15, 11]

# Using list() Constructor

In [50]:
# From a tuple
a = list((1, 2, 3, 'apple', 4.5))  

print(a)

[1, 2, 3, 'apple', 4.5]

# Accessing List Elements

In [ ]:

Elements in a list can be accessed using indexing. Python indexes start at 0, so a[0] will access the first element, while negative indexing allows us to access elements from the end of the list. Like index -1 represents the last elements of list.

In [51]:
a = [10, 20, 30, 40, 50]

# Access first element
print(a[0])    

# Access last element
print(a[-1])

10
50

# List Items


List items are ordered, changeable, and allow duplicate values.

# Ordered


When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

# Allow Duplicates

In [64]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

# Python - Access List Items

In [54]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

# Negative Indexing

In [55]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

# Range of Indexes

In [ ]:

specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [56]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

# Changeable


The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

# Adding Elements into List


We can add elements to a list using the following methods:

append(): Adds an element at the end of the list.
extend(): Adds multiple elements to the end of the list.
insert(): Adds an element at a specific position.

In [53]:
# Initialize an empty list
a = []

# Adding 10 to end of list
a.append(10)  
print("After append(10):", a)  

# Inserting 5 at index 0
a.insert(0, 5)
print("After insert(0, 5):", a) 

# Adding multiple elements  [15, 20, 25] at the end
a.extend([15, 20, 25])  
print("After extend([15, 20, 25]):", a)

After append(10): [10]
After insert(0, 5): [5, 10]
After extend([15, 20, 25]): [5, 10, 15, 20, 25]

In [60]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [59]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

# Python - Change List Items

In [57]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [58]:
# To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

# Removing Elements from List

#Remove Specified Item
The remove() method removes the specified item.

In [62]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [63]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

# Remove Specified Index
The pop() method removes the specified index.

In [65]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [66]:
#If you do not specify the index, the pop() method removes the last item.

# Example
# Remove the last item:

thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [67]:
# The del keyword also removes the specified index:

# Example
# Remove the first item:

thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [68]:
# Clear the List
# The clear() method empties the list.

# The list still remains, but it has no content.

# Example
# Clear the list content:

thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [69]:
#Ways to remove duplicates from list in Python

Using set()
We can use set() to remove duplicates from the list. However, this approach does not preserve the original order.

In [70]:
a = [1, 2, 2, 3, 4, 4, 5]

# Remove duplicates by converting to a set
a = list(set(a))

print(a)

[1, 2, 3, 4, 5]

# Python - Loop Lists

In [71]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

# Loop Through the Index Numbers


You can also loop through the list items by referring to their index number.


Use the range() and len() functions to create a suitable iterable.

In [72]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

# Using a While Loop


loop through the list items by using a while loop.

Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by referring to their indexes.

In [73]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

# Looping Using List Comprehension

In [79]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [83]:
a = [1, 2, 3, 4, 5]

res = [val for val in a if val % 2 == 0]

print(res)

[2, 4]

In [74]:
# The Syntax
# newlist = [expression for item in iterable if condition == True]

In [77]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

# Python - Sort Lists

In [80]:
# Sort List Alphanumerically
# List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

# Example
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [81]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [82]:
# sort Descending
# To sort descending, use the keyword argument reverse = True:

# Example
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

# Python - Copy Lists

Copy a List
You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.
Use the copy() method
use the built-in List method copy() to copy a list.

In [84]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

# Use the list() method
Another way to make a copy is to use the built-in method list().

In [85]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

Use the slice Operator
You can also make a copy of a list by using the : (slice) operator.

In [86]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

# Python - Join Lists

Join Two Lists
There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

In [87]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [88]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [89]:
# Example
# Use the extend() method to add list2 at the end of list1:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

List Methods
Python has a set of built-in methods that you can use on lists.

Method	Description
append()	Adds an element at the end of the list
clear()	Removes all the elements from the list
copy()	Returns a copy of the list
count()	Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()	Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	Removes the element at the specified position
remove()	Removes the item with the specified value
reverse()	Reverses the order of the list
sort()	Sorts the list